- var parent_id = "collapseNavbarLeft2"

form.oc-header.oc-search.oc-partial-hidden.oc-filter(role="search")
    div.form-group.has-header.oc-reveal.collapsed
        span.icm.icm-filter3.form-control-header
        input.form-control.oc-menu-filter(placeholder="Filter menu", data-toggle="listfilter", data-target=parent_id)

ul.nav.nav-stacked.oc-sidebar-nav(id=parent_id)
    each item, key in sidebar.menu
        - var level_id = uuid()
        - var href = item['href']
        - var href = (item['children']?"#"+level_id:href)
        - var href = (href?href:"#")
        - var collapse = { 'data-toggle': "collapse", 'data-parent': "#"+parent_id }
        - var highlight = item['highlight'] || href
        - var highlighted = sidebar.highlighted([highlight])
        - var attrs = highlighted ? {} : { 'class': "collapsed" }
        if item['children']
            - _.extend(attrs, collapse)
        if item['attrs']
            - _.extend(attrs, item['attrs'])
        - var classes = ''
        - classes += item['children'] ? ' dropdown' : ''
        - classes += highlighted ? ' active' : ''
        
        li(class=classes)
            a(href=href)&attributes(attrs)
                if item['icon']
                    i.oc-partial-icon(class=item['icon'])
                span.oc-partial-menu-item= item['text']
                    if item['children']
                        b.caret
                            
            if item['caption']
                |#{item['caption']}
                
            if item['children']
                ul.collapse.dropdown-menu(class=highlighted?'in':'', id=level_id)
                    include node
                    each child, i in item['children']
                        +menu_node(child, level_id)
                        
                        